@media (max-width: 750px) {
  .work {
    display: block;
    padding-bottom: 20px;
    clear: both;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 95%;
    border-radius: 5px;
    margin-top: 50px; }
  .text-wrapper {
    width: 100%; }
  .text-wrapper-2 {
    width: 100%;
    margin: 0px; }
  .works-title {
    margin: 0 auto;
    top: -20px;
    position: relative;
    color: white;
    width: 80%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    background: -webkit-gradient(linear, left bottom, right top, from(#3399ff), to(#33ccff));
    background: linear-gradient(to top right, #3399ff 0%, #33ccff 100%);
    text-align: center;
    padding: 10px; }
  .work-image {
    width: 100%;
    margin-left: 0px; }
  .image-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  #showcase {
    height: 400px; }
  .intro {
    padding: 0px;
    width: 90%;
    margin-bottom: 80px;
    margin-top: -30px; }
  #portrait {
    height: 200px;
    width: 200px;
    border-radius: 100px; }
  #home-content {
    clear: both; }
  .quote-title {
    margin-bottom: 20px; }
  .image-wrapper-x {
    display: none; }
  .image-wrapper-2 {
    display: show; }
  #contact {
    background: #d1d1d1;
    text-align: center;
    padding: 20px; }
  .footer-links {
    margin: 0 auto; }
  .footer-social {
    margin: 0 auto; }
  .footer-text {
    margin: 0 auto; }
  .dev-intro {
    padding: 180px 5px; } }

@media screen and (max-width: 890px) {
  .burger-button {
    display: inline-block;
    right: 10%;
    position: absolute; }
  .menu1 {
    clear: both;
    height: 350px;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    width: 100%;
    margin-top: 17px;
    -webkit-transition: 0s;
    transition: 0s; }
  .menu {
    display: none; }
  .nav-bar {
    padding: 20px 0; }
  .bar1 {
    margin-top: 0; }
  .bar3 {
    margin-bottom: 0; }
  .logo {
    margin-left: 10px; }
  .nav-item a {
    font-size: 25px; }
  .nav-item i {
    font-size: 25px; }
  .nav-list {
    text-align: center;
    float: none;
    margin-top: 30px;
    display: block;
    width: 100%;
    font-size: 30px;
    list-style: none; }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px); }
  .change .bar2 {
    opacity: 0; }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px); } }
