@media screen and (max-width: 750px) {
  .work {
    display: block;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 95%;
    border-radius: 7px;
    margin-top: 50px;
    padding: 0px;
    overflow: hidden; }
  .text-wrapper {
    width: 100%;
    font-size: 16px;
    padding: 10px 20px; }
  .text-wrapper-2 {
    width: 100%;
    margin: 0px; }
  .works-title {
    font-size: 35px;
    width: 80%; }
  .work-image {
    width: 100%;
    margin-left: 0px; }
  .image-wrapper-2 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  .image-wrapper {
    margin-top: 20px;
    width: 100%;
    overflow: hidden; }
  #showcase {
    height: 400px; }
  .intro {
    padding: 0px;
    width: 90%;
    margin-bottom: 80px;
    margin-top: -30px; }
  #portrait {
    height: 200px;
    width: 200px;
    border-radius: 100px; }
  #home-content {
    clear: both; }
  .quote-title {
    margin-bottom: 20px; }
  #contact {
    background: #d1d1d1;
    text-align: center;
    padding: 20px; }
  .footer-links {
    margin: 0 auto; }
  .footer-social {
    margin: 0 auto; }
  .footer-text {
    margin: 0 auto; }
  .dev-intro {
    padding: 130px 25px; }
  .gallery {
    margin-right: 0; }
  .gallery-imgs {
    width: 95%; }
  .website {
    padding: 30px 0; }
  .website-list {
    padding: 0; } }

@media screen and (max-width: 757px) {
  .entry {
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 0; }
  .entry-img {
    width: 100%; }
  .entry-img-cont {
    width: 100%;
    border-radius: 10px;
    overflow: hidden; }
  .entry-cont {
    display: block;
    width: 90%; }
  .entry-text {
    width: 100%;
    padding: 10px 20px; }
  .timeline {
    display: inline-block;
    left: 50%; }
  .timeline-dot {
    display: none; } }

@media screen and (min-width: 850px) and (max-width: 1100px) {
  .footer-links {
    margin-left: 6%;
    margin-right: 4%; } }

@media screen and (max-width: 890px) {
  .burger-button {
    display: inline-block;
    right: 10%;
    position: absolute; }
  .menu1 {
    clear: both;
    height: 350px;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    width: 100%;
    margin-top: 17px;
    -webkit-transition: 0s;
    transition: 0s; }
  .menu {
    display: none; }
  .nav-link-active {
    border-bottom: none; }
  .nav-bar {
    padding: 20px 0; }
  .bar1 {
    margin-top: 0; }
  .bar3 {
    margin-bottom: 0; }
  .logo {
    margin-left: 10px; }
  .nav-item a {
    font-size: 25px; }
  .nav-item i {
    font-size: 25px; }
  .nav-list {
    text-align: center;
    float: none;
    margin-top: 30px;
    display: block;
    width: 100%;
    font-size: 30px;
    list-style: none; }
  #about {
    display: block; }
  .about-img-container2 {
    width: 100%; }
  .about-img2 {
    width: 100%; }
  .about-text2 {
    color: white;
    width: 100%;
    padding: 25px;
    background: #525b62; }
  .gap {
    display: none; }
  .cover-img {
    height: 100%;
    width: auto; } }

@media screen and (max-width: 750px) {
  .cover-img {
    width: 100%; } }
