* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }

.container {
  padding: 2px 16px; }

.img {
  width: 100%; }

#header {
  position: fixed;
  top: 0;
  z-index: 4000;
  width: 100%; }

.nav-bar {
  background-color: rgba(186, 186, 186, 0.5);
  z-index: 1009;
  width: 100%;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.8);
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav-list {
  right: 0;
  margin-right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  float: right;
  padding: 0;
  -webkit-transition: 0;
  transition: 0; }

.nav-link-active {
  color: white;
  display: block;
  padding: .5rem 1rem;
  border-bottom: 2px solid white; }

.menu {
  z-index: 3000;
  display: block; }

.menu-icon {
  font-size: 14px;
  margin-right: 10px; }

.nav-item {
  margin-right: 5px; }

.nav-item, .social-icon {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline; }

.logo {
  width: 100px; }

.logo-container {
  margin-left: 6%;
  float: left;
  -ms-flex-item-align: center;
      align-self: center; }

.animated-fast {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes fadeInUpMenu {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUpMenu {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUpMenu {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0); }
  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
          animation-name: fadeInUpMenu; }

.has-dropdown {
  position: relative; }

.has-dropdown .dropdown {
  width: 140px;
  -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #000;
  padding: 20px;
  border-radius: 4px;
  -webkit-transition: 0s;
  transition: 0s; }

.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #000;
  border-width: 8px;
  margin-left: -8px; }

ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px; }

ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0; }

ul li.has-dropdown .dropdown li a .menu-icon {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 13px;
  letter-spacing: 0; }

ul li.has-dropdown .dropdown li a:hover .menu-icon {
  color: #fff; }

ul li.has-dropdown:hover a, ul li.has-dropdown:focus a {
  color: #fff; }

ul li a {
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.nav-item Link {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none; }

ul li a:hover, ul li a:focus, ul li a:active {
  color: white;
  text-decoration: none; }

#showcase {
  overflow: hidden;
  height: 700px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 100%;
  margin-top: -60px; }

.showcase-img {
  width: 100%;
  position: relative;
  z-index: -3; }

.showcase-text {
  right: 40%;
  color: white;
  z-index: 20000; }

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px; }

.text-wrapper {
  margin-right: 5%;
  width: 60%; }

.text-wrapper-2 {
  margin-left: 5%;
  width: 60%; }

.works-title {
  margin: 20px 0px; }

.works-title-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.button-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.work-image {
  width: 100%; }

.image-wrapper {
  overflow: hidden;
  width: 300px;
  height: 400px; }

#developer-img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

#footer {
  background-color: grey;
  padding: 20px; }

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.social-text {
  width: 30%; }

.social-list {
  margin: 0;
  padding: 0; }

.footer-social {
  right: 0; }

.footer-links {
  margin-left: 8%;
  margin-right: 6%; }

.footer-icon {
  font-size: 30px; }

.social-icon, .footer-text, .social-list {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none; }

#portrait {
  height: 250px;
  width: 250px;
  margin: 50px auto;
  clear: both;
  overflow: hidden;
  border-radius: 150px;
  text-align: center; }

.portrait-img {
  width: 100%; }

.intro {
  text-align: center;
  width: 60%;
  margin-bottom: 50px;
  overflow: hidden; }

#contact {
  background: #d1d1d1;
  text-align: center;
  padding: 100px;
  margin-top: 30px; }

.burger-button {
  display: none; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2px; }

.card {
  margin-top: 20px;
  width: 300px;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); }

.card-img-container {
  width: 300px;
  height: 250px;
  overflow: hidden; }

.card-text {
  padding: 20px; }

.card-img {
  width: 100%; }

#developer {
  overflow: hidden; }

.website {
  background: rgba(221, 221, 221, 0.5);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 50px; }

.website-text {
  padding: 0 50px;
  margin-bottom: 50px;
  color: #222222; }

.website-list-cont {
  list-style: none; }

.website-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  color: grey; }

.website-item {
  width: 130px;
  margin: 20px; }

.web-icon {
  font-size: 60px;
  color: #2ca0cf;
  margin-bottom: 20px; }

.dev-intro {
  clear: both;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 400px;
  color: white;
  padding: 150px; }

.cover {
  height: 300%;
  z-index: -1;
  margin: 0;
  overflow: hidden; }

.cover-cont {
  width: 100%;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  height: 400px;
  margin: 0; }

.dev-skills-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0; }

.dev-icon {
  width: 120px;
  margin-bottom: 20px; }

.dev-skills-list li {
  width: 200px;
  margin: 30px;
  text-align: center;
  padding: 0; }

.skills-container {
  margin: 30px auto;
  width: 90%; }

.dev-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px; }

.selection {
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.gallery {
  margin-top: 50px; }

.gallery-imgs {
  border: 2px solid #ccc;
  margin: 10px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 5px; }

.gallery-imgs:hover {
  border: 2px solid #777; }

.gallery-imgs {
  width: 85%;
  height: auto;
  overflow: hidden; }

.gallery-img {
  width: 100%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.desc {
  padding: 15px;
  text-align: center; }

.image-gallery {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.gallery-card {
  margin: 20px;
  list-style: none; }

#galleries {
  overflow: hidden; }

.galleries-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-top: 50px; }

.middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center; }

.gallery-imgs:hover .middle {
  opacity: 1; }

.text {
  background-color: rgba(0, 0, 0, 0.42);
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.about-card {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  border: 1px solid grey; }

.about-img-container {
  width: 25%;
  -ms-flex-item-align: center;
      align-self: center;
  overflow: hidden;
  margin-right: 20px; }

.about-img {
  border-radius: 100px; }

.about-text {
  width: 70%;
  -ms-flex-item-align: center;
      align-self: center; }

.about-text2 {
  -ms-flex-item-align: center;
      align-self: center; }

.about-text2 p {
  font-size: 20px; }

.about-text2 h2 {
  font-style: italic;
  margin: 30px 0;
  font-size: 30px; }

.about-text2 hr {
  border-color: white; }

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 70px;
  background: #4596d4; }

.about-img-container2 {
  width: 50%; }

.about-img2 {
  width: 100%; }

.about-text2 {
  color: white;
  width: 50%;
  padding: 50px; }

.about-img {
  width: 100%; }

.gap {
  height: 100px; }

.entry {
  height: 400px; }

.portfolio-feed {
  margin: 50px 0; }

.entry-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  width: 80%;
  max-width: 900px;
  min-width: 300px;
  height: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid grey; }

.entry-text {
  width: 70%;
  padding: 40px;
  -ms-flex-item-align: center;
      align-self: center; }

.entry-img-cont {
  width: 25%; }

.entry-img {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center; }

.entry-img-cont {
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 10px;
  overflow: hidden; }

.timeline {
  position: relative;
  width: 5px;
  height: 127%;
  background: #cdcdcd;
  z-index: -1;
  top: -30px;
  left: 20%; }

.timeline-dot {
  width: 20px;
  height: 20px;
  background: #cdcdcd;
  border-radius: 10px;
  position: absolute;
  left: -145%;
  bottom: 0;
  display: inline-block; }

#thumbnails {
  max-width: 1000px;
  margin: 50px auto; }

.thumbnail {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 5px; }

.thumbnail-img {
  width: 100%; }

.thumbnails-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
