
@media screen and (max-width: 750px) {
  .work {
    display: block;
    // padding-bottom: 20px;
    // clear: both;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    width: 95%;
    border-radius: 7px;
    margin-top: 50px;
    padding: 0px;
    overflow: hidden;
  }

  .text-wrapper {
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
  }

  .text-wrapper-2 {
    width: 100%;
    margin: 0px;
  }

  .works-title {
    font-size: 35px;
    // margin: 0 auto;
    // top: -20px;
    // position: relative;
    // color: white;
    width: 80%;
    // border-radius: 5px;
    // box-shadow: 0px 5px 5px  rgba(0,0,0,0.2);
    // background: linear-gradient(to top right, #3399ff 0%, #33ccff 100%);
    // text-align: center;
    // padding: 10px;
  }

  .work-image {
    width: 100%;
    margin-left: 0px;

  }

  .image-wrapper-2 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    // height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }

  .image-wrapper {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    // border-radius:
  }

  #showcase {
    height: 400px;
  }

  .intro {
    padding: 0px;
    width: 90%;
    margin-bottom: 80px;
    margin-top: -30px;
  }

  #portrait {
    height: 200px;
    width: 200px;
    border-radius: 100px;
  }

  #home-content {
    clear: both;
  }
  .quote-title {
    margin-bottom: 20px;
  }


  #contact {
    background: rgb(209, 209, 209);
    text-align: center;
    padding: 20px;
    // margin-top: 30px;
  }
  .footer-links{
    margin: 0 auto;
  }
  .footer-social{
    margin: 0 auto;
  }
  .footer-text{
    margin: 0 auto;
  }

  .dev-intro {
    padding: 130px 25px;
  }

  .gallery {
    // width: 95%;
    margin-right: 0;
  }

  .gallery-imgs {
    width: 95%;
  }



}


@media (min-width: 400px) and (max-width: 900px) {

}

@media screen and (max-width: 757px) {
  .entry {
    height:auto;
    justify-content: center;
    margin: 50px 0;
  }

  .entry-img {
    // float: right;
    width: 100%;
    // align-self: none;
    // text-align: center
  }
  .entry-img-cont {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .entry-cont {
    // display: flex;
    display: block;
    // flex-wrap: wrap;
    width: 90%;
  }
  .entry-text {
    width: 100%;
    padding:10px 20px;
    // text-align: center;
  }

  .timeline {
    display: inline-block;
    // position: relative;
    left: 50%;
    // height: 10px;
    // top: 5px;
  }
  .timeline-dot {
    display: none;
  }



}

@media screen and (min-width: 850px) and (max-width: 1100px) {

  .footer-links {
    margin-left: 6%;
    margin-right: 4%;
  }


}


@media screen and (max-width: 890px) {

  .burger-button {
    display: inline-block;
    right: 10%;
    position: absolute;
  }

  .menu1 {
    // visibility: hidden;
    clear: both;
    height: 350px;
    z-index: 3000;
    background-color: rgba(0,0,0,0.8);
    display: inline-block;
    width: 100%;
    margin-top: 17px;
    transition: 0s;
  }

  .menu {
    display: none;
  }

  .nav-link-active {

    border-bottom: none;
  }

  .nav-bar {
    padding: 20px 0;
  }

  .bar1 {
    margin-top: 0;
  }

  .bar3 {
    margin-bottom: 0;
  }

  .logo {
    margin-left: 10px;
  }

  .nav-item a {
    font-size: 25px;
  }
  .nav-item i {
    font-size: 25px;
  }

  .nav-list {
    text-align: center;
    float: none;
    margin-top: 30px;
    display: block;
    width: 100%;
    font-size: 30px;
    list-style: none;
  }

  #about {
    display: block;
  }

  .about-img-container2 {
    width: 100%;
  }

  .about-img2 {
    // border-radius: 100px;
    width: 100%;
  }
  .about-text2 {
    color: white;
    width: 100%;
    padding: 25px;
    background: rgb(82, 91, 98);
    // align-self: center;
  }
  .gap {
    display: none;
  }

  .cover-img {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 750px) {
  .cover-img {
    width: 100%;
  }
}
