
@media screen and (max-width: 750px) {

  .work {
    display: block;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    width: 95%;
    border-radius: 7px;
    margin-top: 50px;
    padding: 0px;
    overflow: hidden;
    max-width: 500px;
  }

  .text-wrapper {
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
  }

  .text-wrapper-2 {
    width: 100%;
    margin: 0px;
  }

  .works-title {
    font-size: 35px;
    width: 80%;
  }

  .work-image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle
  }

  .image-wrapper-2 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }

  .image-wrapper {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    // border-radius:
  }

  #showcase {
    height: 400px;
  }

  .intro {
    padding: 0px;
    width: 90%;
    margin-bottom: 80px;
    max-width: 450px;
  }

  #home-content {
    clear: both;
    padding: 0;
  }

  .quote-title {
    margin-bottom: 20px;
  }

  #contact {
    background: rgb(209, 209, 209);
    text-align: center;
    padding: 20px;
  }

  .footer-links{
    margin: 0 auto;
  }

  .footer-social{
    margin: 0 auto;
  }

  .footer-text{
    margin: 0 auto;
  }

  .dev-intro {
    padding: 130px 25px;
  }

  .gallery {
    margin-right: 0;
  }

  .gallery-imgs {
    width: 95%;
  }

  .website {
    padding: 30px 0;
  }

  .website-list {
    padding: 0;
  }

  .cover-img {
    width: 100%;
  }
}



@media screen and (max-width: 757px) {
  .entry {
    height:auto;
    justify-content: center;
    margin: 50px 0;
  }

  .entry-img {
    width: 100%;
  }

  .entry-img-cont {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .entry-cont {
    display: block;
    width: 90%;
  }

  .entry-text {
    width: 100%;
    padding:10px 20px;
  }

  .timeline {
    display: inline-block;
    left: 50%;
  }

  .timeline-dot {
    display: none;
  }
}

@media screen and (min-width: 850px) and (max-width: 1100px) {

  .footer-links {
    margin-left: 6%;
    margin-right: 4%;
  }
}

@media screen and (max-width: 800px) {

  #portrait {

  }

  .portrait-container {
    margin-right: 0;
  }

  .portrait-text {
    margin-top: 20px;
    width: 90%;
    max-width: 90%;
    text-align: center
  }

}



@media screen and (max-width: 890px) {

  .burger-button {
    display: inline-block;
    right: 5%;
    position: absolute;
  }

  .nav-bar{
    width: 100%;
  }

  .menu1 {
    clear: both;
    height: 350px;
    z-index: 3000;
    background-color: rgba(0,0,0,0.8);
    display: inline-block;
    width: 100%;
    margin-top: 12px;
    transition: 0s;
  }

  .menu {
    display: none;
  }

  .nav-link-active {
    border-bottom: none;
  }

  .bar1 {
    margin-top: 0;
  }

  .bar3 {
    margin-bottom: 0;
  }

  .logo {
    margin-left: 10px;
  }

  .nav-item a {
    font-size: 25px;
  }

  .nav-item i {
    font-size: 25px;
  }

  .nav-list {
    text-align: center;
    float: none;
    margin-top: 30px;
    display: block;
    width: 100%;
    font-size: 30px;
    list-style: none;
  }

  #about {
    display: block;
  }

  .about-img-container2 {
    width: 100%;
  }

  .about-img2 {
    width: 100%;
  }

  .about-text2 {
    color: white;
    width: 100%;
    padding: 25px;
    background: rgb(82, 91, 98);
  }

  .gap {
    display: none;
  }

  .cover-img {
    height: 100%;
    width: auto;
  }
}


@media screen and (min-width: 891px) and (max-width: 1100px) {


  .nav-bar{
    width: 95%;
  }

  .footer-links {
    margin-left: 6%;
    margin-right: 4%;
  }
}
