$primary-color: rgba(0,0,0,0.2);

.card {
    box-shadow: 0 4px 8px 0 $primary-color;
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 $primary-color;
}

.container {
    padding: 2px 16px;
}
h1 {
  color: grey;
}

.img {
  width: 100%;
}
