
// NOTE: Variables

$primary-color: rgba(0,0,0,0.2);
$img-path: "./~/../img/";
$basic-shadow: 0 5px 5px rgba(0,0,0,0.3);


// NOTE: General adjustments


* {box-sizing: border-box;}

body {
  margin: 0;
}

.container {
  max-width: 1100px;
}



ul li a {
  font-size: 13px;
  // padding: 30px 15px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
  transition: 0.5s;
}

.nav-item Link {
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
}
ul li a:hover, ul li a:focus, ul li a:active {
  color: white;
  text-decoration: none;
}



// NOTE: Showcase



#showcase {
  overflow: hidden;
  height: 700px;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  text-align: center;
  width: 100%;
  margin-top: -60px;
  // background: rgb(64,56,215);
  // background: linear-gradient(90deg, rgba(64,56,215,0.7) 0%, rgba(41,112,229,0.7) 36%, rgba(128,218,236,0.7) 100%);
}

.showcase-img {
  width: 100%;
  // top: -50px;
  // right: 150px;
  // width: 100%;
  position: relative;
  z-index: -3;
  // overflow: hidden;
}

.showcase-text {
  // position: relative;
  // top: -70%;
  right: 40%;
  color: white;
  z-index: 20000;
}


// NOTE: Portrait


#portrait {
  height: 250px;
  width: 250px;
  margin: 50px auto;
  clear: both;
  overflow: hidden;
  border-radius: 150px;
  text-align: center;
}


// NOTE: Home page


.intro {
  text-align: center;
  width: 60%;
  margin: 10px auto;
  overflow: hidden;
}

.work {
  display: flex;
  margin: 70px auto;
  justify-content: center;
  max-width: 1100px;
}

.text-wrapper {
  margin-right: 5%;
  width: 60%;
  align-self: center;
}

.text-wrapper-2 {
  margin-left: 5%;

  width: 60%;
}

.works-title {
  margin: 20px 0px;
}

.works-title-2 {
  order:2;
}
.button-3 {
  order:3;
}

.work-image {
  width: 100%;
}

.image-wrapper {
  overflow: hidden;
  max-width: 400px;
  width: 30%;
  height: 400px;
}

.portrait-img {
  width: 100%;
}


// NOTE: Contact


#contact {
  background: rgb(209, 209, 209);
  text-align: center;
  padding: 100px;
  margin-top: 30px;
}


// NOTE Mobile menu bar


.burger-button {
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}



// NOTE: Card style



.card {
  margin-top: 20px;
  width: 300px;
  margin: 20px;
  height: 500px;
  // border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: $basic-shadow;
}

.card-img-container {
  width: 300px;
  height: 250px;
  overflow: hidden;
}

.card-text {
  padding: 20px;
}

.card-img {
  width: 100%;
}



// NOTE: Developer


#developer {
  overflow: hidden;
}

.website {
  background: rgba(221, 221, 221, 0.5);
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.website-text {
  padding: 0 50px;
  margin-bottom: 50px;
  color: rgb(34, 34, 34);
}

.website-list-cont {
  list-style: none;
}

.website-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  color: grey;
}

.website-item {
  width: 130px;
  margin: 20px;
}

.web-icon {
  font-size: 60px;
  color: #2ca0cf;
  margin-bottom: 20px;
}

.dev-intro {
  clear: both;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 400px;
  color: white;
  padding: 150px;
}

.cover {
  height: 300%;
  z-index: -1;
  margin: 0;
  overflow: hidden;
}

.cover-cont {
  width: 100%;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  height: 400px;
  margin: 0;
}

.dev-skills-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.dev-icon {
  width: 120px;
  margin-bottom: 20px;
}

.dev-skills-list li {
  width: 200px;
  margin: 30px;
  text-align: center;
  padding: 0;
}

.skills-container {
  margin: 30px auto;
  width: 90%;

}

.dev-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.selection {
  margin-top: 20px;
  justify-content: center;
  width: 100%;
}


// NOTE: Gallery


#galleries {
  overflow: hidden;
}

.gallery {
  margin-top: 50px;
  // margin: 30px auto;
}

.gallery-imgs {
  border: 2px solid #ccc;
  margin: 10px auto;
  justify-content: center;
  width: 100%;
  padding: 5px;
}

.gallery-imgs:hover {
  border: 2px solid #777;

}

.gallery-imgs {
  width: 85%;
  height: auto;
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.desc {
  padding: 15px;
  text-align: center;
}

.image-gallery {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
}

.gallery-card {
  margin: 20px;
  list-style: none

}

.galleries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-top: 50px;
}


.middle {
  transition: .5s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  text-align: center;
}

.gallery-imgs:hover .middle{
  opacity: 1;
}

.text {
  background-color: rgba(#000000, 0.42);
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}



// NOTE: About


.about-card {
  // position: absolute;
  clear: both;
  // margin-top: 100px;
  // margin-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  // justify-content: center;
  background: white;
  border-radius: 5px;
  box-shadow: $basic-shadow;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  border: 1px solid grey;
}

.about-img-container {
  width: 25%;
  align-self: center;
  overflow: hidden;
  margin-right: 20px;

}

.about-img {
  border-radius: 100px;
}
.about-text {
  width: 70%;
  align-self: center;
}

.about-text2 {
  align-self: center;
  // height: 906px;
}

.about-text2 p {
  font-size: 20px;
}

.about-text2 h2 {
  font-style: italic;
  margin: 30px 0;
  font-size: 30px;
}

.about-text2 hr {
  border-color: white;
}

#about {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  margin-top:70px;
  background: rgb(69, 150, 212);
}

.about-img-container2 {
  width: 50%;
}

.about-img2 {
  width: 100%;
}
.about-text2 {
  color: white;
  width: 50%;
  padding: 50px;
}

.about-img {
  width: 100%;
}

.gap {
  height: 100px;
}


// NOTE: Portfolio


.entry {
  height: 400px;
}

.portfolio-feed {
  margin: 50px 0;

}

.entry-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
  width: 80%;
  max-width: 900px;
  min-width: 300px;
  height: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background: white;
  box-shadow: $basic-shadow;
  border: 1px solid grey;
}

.entry-text {
  width: 70%;
  padding: 40px;
  align-self:center;
}

.entry-img-cont {
  width: 25%;
}

.entry-img {
  width: 100%;
  align-self: center;
}

.entry-img-cont {
  align-self: center;
  border-radius: 10px;
  overflow: hidden;
}

.timeline {
  position: relative;
  width: 5px;
  height: 127%;
  background: rgb(205, 205, 205);
  z-index: -1;
  top:-30px;
  left: 20%;
}

.timeline-dot {
  width: 20px;
  height: 20px;
  background: rgb(205, 205, 205);
  border-radius: 10px;
  position: absolute;
  left: -145%;
  bottom: 0;
  display: inline-block
}


// NOTE: Thumbnails


#thumbnails {
  max-width: 1000px;
  margin: 50px auto;
}

.thumbnail {
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 5px;
}

.thumbnail-img {
  width: 100%;
}

.thumbnails-container {
  display: flex;
  flex-wrap: wrap;
}
